/********************************************
                    RESET
********************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/********************************************
                    DEBUG
********************************************/
.col {
    background-color: aqua;
    border: 1px solid red;
}

.card {
    background-color: red;
}

.row {
    background-color: yellowgreen;
}

.expert-text {
    background-color: violet;
}

.small-container {
    background-color: blue;
}

/********************************************
                    COMMON
********************************************/
:root {
    --demo-col: calc( ( 100% / 3 ) - 1rem )
}

body {
    font-family: 'PT Sans', sans-serif;
}

.small-screen {
    padding-left: 2rem;
    padding-right: 2rem;
}

.container {
    margin: 0 auto;
    max-width: 1070px;
}

.mid-container {
    margin: 0 auto;
    max-width: 700px;
}

.small-container {
    margin: 0 auto;
    max-width: 500px;
}

.flex-container {
    display: flex;
}
/********************************************
                    HEADER
********************************************/
header {
    height: 80px;
    color: white;
    background-color: #0084fd;
}

/* NAV */
nav {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hidden-menu {
    display: none;
}
/********************************************
                    MAIN
********************************************/
section {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.columns {
    flex-wrap: wrap;
    justify-content: space-between;
}

/* FIRST SECTION */
.demo .col {
    margin-bottom: 1.5rem;
    padding: 2rem;
}

.demo .col:first-child {
    padding-bottom: 0;
}

/* SECOND SECTION */
.strategic {
    background-color: #9792e4;
}

.strategic .col:first-child {
    margin-bottom: 2.5rem;
}

.strategic .col:last-child {
    padding: 1rem;
}

/* THIRD SECTION */
.row {
    margin-bottom: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.expert-text {
    margin-bottom: 2rem;
    text-align: center;
}

.expert-partners .col:first-child {
    margin-bottom: 1rem;
}
/* FOURTH SECTION */
.benefits {
    background-color: #9792e4;
}

.benefits .col {
    margin-bottom: 2rem;
    padding: 1rem;
}

/* FIFTH SECTION */
.about-us .col:first-child {
    margin-bottom: 2rem;
}

/* SIXTH SECTION */
.get-started {
    background-color: #9792e4;
}

/********************************************
                    FOOTER
********************************************/






/********************************************
                    TABLET
********************************************/
@media screen and ( min-width: 768px ) {
/********************************************
                    MAIN
********************************************/
    /* FIRST SECTION */
    .demo .col {
        width: var(--demo-col);
    }

    .demo .col:first-child {
        width: calc( 100% - ( var(--demo-col) + 1.5rem ) );
    }

    /* SECOND SECTION */
    .strategic .col:last-child {
        padding: 2rem;
    }

    /* THIRD SECTION */
    .row {
        justify-content: space-between;
    }

    .expert-partners .col {
        margin-bottom: 0;
    }

    .row .col:first-child {
        width: 30%;
    }

    .row .col:last-child {
        width: 66%
    }

    /* FOURTH SECTION */
    .benefits .col {
        width: calc( 50% - 1rem );
    }

    /* FIFTH SECTION */
    .about-us .columns {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .about-us .col:first-child {
        margin-bottom: 0;
        width: 51%;
    }

    .about-us .col:last-child {
        width: 40%;
    }
}

/********************************************
                    DESKTOP
********************************************/
@media screen and ( min-width: 992px ) {
/********************************************
                    HEADER
********************************************/
    .menu {
        display: none;
    }

    .hidden-menu {
        display: block;
    }

/********************************************
                    MAIN
********************************************/
    /* SECOND SECTION */
    .strategic .col {
        width: calc( 50% - 1rem);
    }

    .strategic .col:first-child {
        margin-bottom: 0;
    }

    .strategic .col:last-child {
        align-self: flex-end;
    }

    /* FOURTH SECTION */
    .benefits .col {
        margin-bottom: 1.5rem;
        width: calc( ( 100% / 3 ) - 1rem );
    }

    /* FIFTH SECTION */
    .about-us .columns {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .about-us .col:first-child {
        width: 66%;
    }

    .about-us .col:last-child {
        width: 27%;
    }

}
