/********************************************
                    RESET
********************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/********************************************
                    DEBUG
********************************************/
.col {
    background-color: aqua;
    border: 1px solid red;
}

.card {
    background-color: red;
}
/********************************************
                    COMMON
********************************************/
:root {
    --demo-col: calc( ( 100% / 3 ) - 1rem )
}

body {
    font-family: 'PT Sans', sans-serif;
}

.small-screen {
    padding: 0 2rem;
}

.container {
    margin: 0 auto;
    max-width: 1070px;
}

.flex-container {
    display: flex;
}
/********************************************
                    HEADER
********************************************/
header {
    height: 80px;
    color: white;
    background-color: #0084fd;
}

/* NAV */
nav {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hidden-menu {
    display: none;
}
/********************************************
                    MAIN
********************************************/
/* FIRST SECTION */
.demo {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.demo .columns {
    flex-wrap: wrap;
}

.demo .col {
    margin-bottom: 1.5rem;
    padding: 2rem;
}

.demo .col:first-child {
    padding-bottom: 0;
}
/* SECOND SECTION */
.strategic {
    background-color: #9792e4;
}

/* THIRD SECTION */

/* FOURTH SECTION */
.benefits {
    background-color: #9792e4;
}

/* FIFTH SECTION */

/* SIXTH SECTION */
.get-started {
    background-color: #9792e4;
}
/********************************************
                    FOOTER
********************************************/

/********************************************
                    TABLET
********************************************/
@media screen and ( min-width: 768px ) {
/********************************************
                    MAIN
********************************************/
    /* FIRST SECTION */
    .demo .columns {
        justify-content: space-between;
    }

    .demo .col {
        width: var(--demo-col);
    }

    .demo .col:first-child {
        width: calc( 100% - ( var(--demo-col) + 1.5rem ) );
    }
}

/********************************************
                    DESKTOP
********************************************/
@media screen and ( min-width: 992px ) {
/********************************************
                    HEADER
********************************************/
    .menu {
        display: none;
    }

    .hidden-menu {
        display: block;
    }
}