/********************************************
                    RESET
********************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/********************************************
                    DEBUG
********************************************/

/********************************************
                    COMMON
********************************************/
:root {
    --demo-col: calc( ( 100% / 3 ) - 1rem )
}

body {
    font-family: 'PT Sans', sans-serif;
}

.small-screen {
    padding-left: 2rem;
    padding-right: 2rem;
}

.container {
    margin: 0 auto;
    max-width: 1070px;
}

.mid-container {
    margin: 0 auto;
    max-width: 700px;
}

.small-container {
    margin: 0 auto;
    max-width: 500px;
}

.flex-container {
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    display: inline-block;
    border-radius: 3em;
}

.btn-white {
    color: #9792e4;;
    background-color: white;
}

.btn-violet {
    color: white;
    background-color: #9792e4;
}

.btn-blue {
    color: white;
    background-color: #0084fd;
}

img {
    width: 100%;
    display: block;
}

h2 {
    margin-bottom: 2rem;
    font-size: 2.2rem;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

/********************************************
                    HEADER
********************************************/
header {
    height: 80px;
    color: white;
    background-color: #0084fd;
}

/* NAV */
nav {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.menu {
    font-size: 2rem;
}

.hidden-menu {
    display: none;
}

.hidden-menu ul {
    align-items: center;
}

.hidden-menu li {
    margin-left: 2rem;
}

header .btn {
    padding: 0.5em 0.9em;
    font-size: 1.2rem;
    color: black;
}

/********************************************
                    MAIN
********************************************/
section {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.card .btn-blue {
    margin-top: 1.5rem;
    padding: 0.5em 2.8em;
    font-size: 1.2rem;
}

.columns {
    flex-wrap: wrap;
    justify-content: space-between;
}

/* FIRST SECTION */
.demo .col {
    margin-bottom: 1.5rem;
    padding: 2rem 2rem;
    width: 100%;
    border-radius: 1.5rem;
    background-color: #b5ddff;
}

.demo .col:first-child {
    padding-bottom: 0;
}

.demo .col:first-child .card {
    height: 100%;
    flex-wrap: wrap;
}

.card.flex-container > div:first-of-type {
    margin-bottom: 1rem;
}

.demo h3 {
    color: #0084fd;
}

.phone {
    max-width: 400px;
    align-self: flex-end;
}

.demo-icon {
    font-size: 5rem;
    color: #0084fd;
}

.demo .card {
    text-align: center;
}

.demo .card.flex-container {
    text-align: left;
}

/* SECOND SECTION */
.strategic {
    background-color: #9792e4;
}

.strategic .col:first-child {
    margin-bottom: 2.5rem;
    color: white;
}

.strategic .col:first-child img {
    margin-bottom: 4rem;
}

.strategic .col:last-child {
    padding: 1rem;
}

.strategic .col:last-child {
    border-radius: 2.5rem;
    text-align: center;
    background-color: white;
}

.arrow-btn {
    margin-top: 2rem;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 3em;
    background-color: #9792e4;
}
/* THIRD SECTION */
.row {
    margin-bottom: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.expert-text {
    margin-bottom: 2rem;
    text-align: center;
}

.expert-partners .col:first-child {
    margin-bottom: 1rem;
}
/* FOURTH SECTION */
.benefits {
    background-color: #9792e4;
}

.benefits .col {
    margin-bottom: 2rem;
    padding: 1rem;
}

/* FIFTH SECTION */
.about-us .col:first-child {
    margin-bottom: 2rem;
}

/* SIXTH SECTION */
.get-started {
    background-color: #9792e4;
}

/********************************************
                    FOOTER
********************************************/
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #333333 ;
}

/********************************************
                    TABLET
********************************************/
@media screen and ( min-width: 768px ) {
/********************************************
                    MAIN
********************************************/
    /* FIRST SECTION */
    .demo .col {
        width: var(--demo-col);
    }

    .demo .col:first-child {
        width: calc( 100% - ( var(--demo-col) + 1.5rem ) );
    }

    .card.flex-container > div:last-of-type {
        width: 60%;
    }

    /* SECOND SECTION */
    .strategic .col:last-child {
        padding: 2rem;
    }

    /* THIRD SECTION */
    .row {
        justify-content: space-between;
    }

    .expert-partners .col {
        margin-bottom: 0;
    }

    .row .col:first-child {
        width: 30%;
    }

    .row .col:last-child {
        width: 66%
    }

    /* FOURTH SECTION */
    .benefits .col {
        width: calc( 50% - 1rem );
    }

    /* FIFTH SECTION */
    .about-us .columns {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .about-us .col:first-child {
        margin-bottom: 0;
        width: 51%;
    }

    .about-us .col:last-child {
        width: 40%;
    }

/********************************************
                    FOOTER
********************************************/
    footer .small-container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

/********************************************
                    DESKTOP
********************************************/
@media screen and ( min-width: 992px ) {
/********************************************
                    HEADER
********************************************/
    .menu {
        display: none;
    }

    .hidden-menu {
        display: block;
    }

/********************************************
                    MAIN
********************************************/
    /* FIRST SECTION */
    .card.flex-container > div:first-of-type {
        width: 55%;
    }

    .card.flex-container > div:last-of-type {
        width: 45%;
        align-self: flex-end;
    }

    /* SECOND SECTION */
    .strategic .col {
        width: calc( 50% - 1rem);
    }

    .strategic .col:first-child {
        margin-bottom: 0;
    }

    .strategic .col:last-child {
        align-self: flex-end;
    }

    .strategic .col:first-child img {
        margin-bottom: 7rem;
    }

    .strategic .col:last-child img {
        display: inline-block;
        width: 80%;
    }
    /* FOURTH SECTION */
    .benefits .col {
        margin-bottom: 1.5rem;
        width: calc( ( 100% / 3 ) - 1rem );
    }

    /* FIFTH SECTION */
    .about-us .columns {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .about-us .col:first-child {
        width: 66%;
    }

    .about-us .col:last-child {
        width: 27%;
    }
}
